<%- include('includes/head.ejs')%>

</head>
<body>
  <%- include('includes/common.ejs')%>

    <section class="section section-center aboute-page">
      <div class="title">
        <h2><span>/</span>our history</h2>
      </div>
      <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni necessitatibus doloremque labore culpa! Eveniet, molestiae incidunt ut inventore beatae veritatis? Quis minima, itaque laborum nemo beatae reiciendis esse facilis, assumenda quam asperiores repellat fuga autem architecto dolor id! Illum maxime blanditiis doloremque! Fugit officia voluptatem maiores, id blanditiis officiis labore totam voluptas dolorem? Inventore ut nostrum velit ex fuga fugit, omnis molestias perspiciatis placeat dolore. Optio tempora accusantium provident? Molestiae.</p>
    </section>
    <script type="module" src="./src/pages/about.js"></script>

<%- include('includes/end.ejs')%>