<%- include('../includes/head.ejs')%>

  </head>

  <body>
    <%- include('../includes/common.ejs')%>

    <!-- product info -->
    <secition class="single-product">
      <div class="sectin-center single-product-center">
        <img src="./images/main-bcg.jpeg" class="single-product-img img" alt="">
        <article class="single-product-info">
          <div>
            <h2 class="single-product-title">couch</h2>
            <p class="single-product-company text-slanted">by marcos</p>
          </div>
          <p class="single-product-price">$40.00</p>
          <div class="single-product-colors"></div>
          <p class="single-product-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fugiat corporis esse similique inventore vero! Vel placeat necessitatibus ab nulla?</p>
          <button class="addToCartBtn btn" data-id="id">add to cart</button>
        </article>
      </div>
    </secition>
    <div class="page-loading">
      <h3>Loading...</h3>
    </div>
    <script type="module" src="./src/pages/product.js"></script>

<%- include('../includes/end.ejs')%>

